[Desktop Entry]
Name=Zack & Robin VS Humans
Exec=*emplacement du repertoire ->*/Zack_and_Robin_against_Humans/ZandRVSH
Icon=*emplacement du repertoire ->*/Zack_and_Robin_against_Humans/application/icon.png
Terminal=false
Type=Application
Categories=Game;